@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebsiteBanHang.Context.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/template/suaxoa.css" rel="stylesheet" />

<div class="content-wrapper">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {<div class="container">
            <div class="search">
                <style>
                    p {
                        margin-bottom: 10px;
                    }

                    input[type="text"] {
                        padding: 5px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        font-size: 14px;
                    }

                    input[type="submit"] {
                        padding: 5px 10px;
                        background-color: #4CAF50;
                        color: white;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        font-size: 14px;
                    }
                </style>
                <style>
                    .action-links {
                        display: inline-block;
                    }

                        .action-links a {
                            color: #333;
                            text-decoration: none;
                            padding: 5px 10px;
                            border-radius: 3px;
                            background-color: #eee;
                            margin-right: 5px;
                        }

                            .action-links a:hover {
                                background-color: #ccc;
                            }
                </style>
                <style>
                    .table {
                        border-collapse: collapse;
                        width: 100%;
                    }

                        .table th,
                        .table td {
                            border: 1px solid #ddd;
                            padding: 8px;
                        }

                        .table th {
                            background-color: #f2f2f2;
                            font-weight: bold;
                        }

                        .table .action-links {
                            white-space: nowrap;
                        }

                            .table .action-links a {
                                color: #333;
                                text-decoration: none;
                                padding: 5px 10px;
                                border-radius: 3px;
                                background-color: #eee;
                                margin-right: 5px;
                            }

                                .table .action-links a:hover {
                                    background-color: #ccc;
                                }
                </style>
                <p>
                    Tìm tên sản phẩm: <input type="text" name="SearchString" value="@ViewBag.CurrentFilter" />
                    <input type="submit" value="Tìm kiếm" />
                </p>

            </div>
            <div class="add-new">
                <p class="add-new-link">
                    @Html.ActionLink("Thêm mới", "Create")
                </p>
            </div>
        </div>
    }
    <br />
    <br />
    <table class="table">
        <tr>

            <th>
                Tên
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Hiển thị
            </th>
            <th>
                Loại sản phẩm
            </th>
            <th>
                Thương hiệu
            </th>

            <th>
                Giá
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a href="@Url.Action("Detail","Product",new {area = "",ID = item.ID})" target="_blank">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Detail","Product",new{area = "",ID = item.ID})" target="_blank">
                        <img src="~/Content/images/items/@item.Avatar" width="100">
                    </a>
                </td>
                <td>
                    @if (item.TypeId == 1)
                    {

                        @:Giảm giá
                    }
                    else if (item.CategoryId == 2)
                    {

                        @:Đề xuất
                    }
                </td>
                <th>
                    @if (item.CategoryId == 3)
                    {
                        <a href="@Url.Action("ProductCategory", "Category", new { area = "", ID = item.ID })" target="_blank">
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </a>
                        @:Máy tính bảng
                    }
                    else if (item.CategoryId == 2)
                    {
                        <a href="@Url.Action("ProductCategory", "Category", new { area = "", ID = item.CategoryId })" target="_blank">

                            Máy tính
                        </a>
                    }
                    else if (item.CategoryId == 7)
                    {
                        <a href="@Url.Action("ProductCategory", "Category", new { area = "", ID = item.CategoryId })" target="_blank">

                            Điện thoại
                        </a>
                    }

                    else
                    {
                        <a href="@Url.Action("ProductCategory", "Category", new { area = "", ID = item.ID })" target="_blank">
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </a>
                    }

                </th>
                <th>
                    @if (item.BrandId == 1)
                    {
                        @:Apple
                    }
                    else if (item.BrandId == 2)
                    {
                        @:Samsung
                    }
                    else if (item.BrandId == 3)
                    {
                        @:Xiaomi
                    }
                    else if (item.BrandId == 4)
                    {
                        @:Acer
                    }
                    else if (item.BrandId == 5)
                    {
                        @:Dell
                    }
                    else if (item.BrandId == 6)
                    {
                        @:Tomko
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.BrandId)
                    }

                </th>

                <td>
                    <span class="h5">@string.Format("{0:N0}", @item.Price)</span>
                </td>

                <td class="text-center">
                    @Html.ActionLink("Sửa", "Edit", new { ID = item.ID }, new { @class = "edit-link btn btn-primary" })

                    @Html.ActionLink("Xóa", "Delete", new { ID = item.ID }, new { @class = "delete-link btn btn-danger" })

                </td>
            </tr>

        }
    </table>

    <br />
    <div class="pagination-container">
        <span class="page-info">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        </span>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.PageNumber <= 1 ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1, currentFilter = ViewBag.CurrentFilter })">Previous</a>
                </li>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = i, currentFilter = ViewBag.CurrentFilter })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageNumber >= Model.PageCount ? "disabled" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1, currentFilter = ViewBag.CurrentFilter })">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>

